#t1,#t2,#t3,#t,#t4,#t,#t5,#t6,#t7,#t8,#t9,#t10,#t11
{
width:200px;
height:25px;

}
label
{
color:#FF0033;
font-size:16px;
}

#submit1
{
background:#0033CC;
color:white;
width:80px;
height:35px;
border-radius:5px;
font-size:16px;
}








